## **T1-17. 시계열 데이터1 Expected Question**

### 2022년 5월 Sales의 중앙값을 구하시오
- 데이터셋 : basic2.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [26]:
import pandas as pd

df = pd.read_csv('data/basic2.csv')
df.head()

         Date     Sales      PV      UV  Events
0  2022-01-01  22711525  397349  4421.0       1
1  2022-01-02     36779    3969  2289.0       0
2  2022-01-03  13943875  373890     NaN       1
3  2022-01-04   8088593  142054  2157.0       0
4  2022-01-05   2395374  190684     NaN       0

In [27]:
# datetime으로 type 변경
df['Date'] = pd.to_datetime(df['Date'])
df['Date'].head()

0   2022-01-01
1   2022-01-02
2   2022-01-03
3   2022-01-04
4   2022-01-05
Name: Date, dtype: datetime64[ns]

In [28]:
# year, month 추출
df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df.head()

        Date     Sales      PV      UV  Events  year  month
0 2022-01-01  22711525  397349  4421.0       1  2022      1
1 2022-01-02     36779    3969  2289.0       0  2022      1
2 2022-01-03  13943875  373890     NaN       1  2022      1
3 2022-01-04   8088593  142054  2157.0       0  2022      1
4 2022-01-05   2395374  190684     NaN       0  2022      1

In [29]:
# 2022년 5월 Sales의 중앙값
cond = (df['year'] == 2022) & (df['month'] == 5)
print(df[cond]['Sales'].median())

1477685.0

## **T1-18. 시계열 데이터2 Expected Question**

### 주어진 데이터에서 2022년 5월 주말과 평일의 sales컬럼 평균값 차이를 구하시오 (소수점 둘째자리까지 출력, 반올림)
- 데이터셋 : basic2.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [44]:
import pandas as pd

df = pd.read_csv('data/basic2.csv')
df.head()

         Date     Sales      PV      UV  Events
0  2022-01-01  22711525  397349  4421.0       1
1  2022-01-02     36779    3969  2289.0       0
2  2022-01-03  13943875  373890     NaN       1
3  2022-01-04   8088593  142054  2157.0       0
4  2022-01-05   2395374  190684     NaN       0

In [45]:
# datetime으로 변경 후 분할
df['Date'] = pd.to_datetime(df['Date'])

df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['day'] = df['Date'].dt.day
df['dayofweek'] = df['Date'].dt.dayofweek # Monday=0 ~ Sunday=6
df.head()

        Date     Sales      PV      UV  Events  year  month  day  dayofweek
0 2022-01-01  22711525  397349  4421.0       1  2022      1    1          5
1 2022-01-02     36779    3969  2289.0       0  2022      1    2          6
2 2022-01-03  13943875  373890     NaN       1  2022      1    3          0
3 2022-01-04   8088593  142054  2157.0       0  2022      1    4          1
4 2022-01-05   2395374  190684     NaN       0  2022      1    5          2

In [49]:
# 2022년 5월 주말, 평일의 Sales 칼럼 평균값 차이 (소수 둘째자리까지 반올림)
cond1 = (df['year'] == 2022) & (df['month'] == 5) & ((df['dayofweek'] == 5) | (df['dayofweek'] == 6))
cond2 = (df['year'] == 2022) & (df['month'] == 5) & (df['dayofweek'] != 5) & (df['dayofweek'] != 6)

avg1 = df[cond1]['Sales'].mean()
avg2 = df[cond2]['Sales'].mean()
print(avg1, avg2)

print(round(avg1 - avg2, 2))

6693950.555555556 3683611.4545454546
3010339.1

## **T1-19. 시계열 데이터3 Expected Question**

주어진 데이터에서 2022년 월별 Sales 합계 중 가장 큰 금액과
2023년 월별 Sales 합계 중 가장 큰 금액의 차이를 절대값으로 구하시오.
단 Events컬럼이 '1'인경우 80%의 Salse값만 반영함
(최종값은 소수점 반올림 후 정수 출력)
- 데이터셋 : basic2.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [74]:
import pandas as pd

df = pd.read_csv('data/basic2.csv')
print(df.head())

         Date     Sales      PV      UV  Events
0  2022-01-01  22711525  397349  4421.0       1
1  2022-01-02     36779    3969  2289.0       0
2  2022-01-03  13943875  373890     NaN       1
3  2022-01-04   8088593  142054  2157.0       0
4  2022-01-05   2395374  190684     NaN       0

In [75]:
# to_datetime, 분할
df['Date'] = pd.to_datetime(df['Date'])
df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
print(df.head())

        Date     Sales      PV      UV  Events  year  month
0 2022-01-01  22711525  397349  4421.0       1  2022      1
1 2022-01-02     36779    3969  2289.0       0  2022      1
2 2022-01-03  13943875  373890     NaN       1  2022      1
3 2022-01-04   8088593  142054  2157.0       0  2022      1
4 2022-01-05   2395374  190684     NaN       0  2022      1

In [76]:
# Events컬럼이 '1'인경우 80%의 Salse값만 반영함
def event_sales(x):
    if x['Events'] == 1:
        x['Sales2'] = x['Sales']*0.8
    else:
        x['Sales2'] = x['Sales']
    return x

df = df.apply(lambda x: event_sales(x), axis=1) # axis -> 1일 경우 row, 0일 경우 col
print(df.head())

        Date     Sales      PV      UV  Events  year  month      Sales2
0 2022-01-01  22711525  397349  4421.0       1  2022      1  18169220.0
1 2022-01-02     36779    3969  2289.0       0  2022      1     36779.0
2 2022-01-03  13943875  373890     NaN       1  2022      1  11155100.0
3 2022-01-04   8088593  142054  2157.0       0  2022      1   8088593.0
4 2022-01-05   2395374  190684     NaN       0  2022      1   2395374.0

In [77]:
# 2022년 월별 합계 중 가장 큰 값
cond = df['year'] == 2022
df1 = df[cond]
sale1 = df1.groupby('month')['Sales2'].sum().max()
print(sale1)

197145878.0

In [78]:
# 2023년 월별 합계 중 가장 큰 값
cond = df['year'] == 2023
df2 = df[cond]
sale2 = df2.groupby('month')['Sales2'].sum().max()
print(sale2)

239619313.8

In [81]:
# 두 값의 차이 절대값 (정수 출력)
print(int(round(abs(sale1 - sale2), 0)))

42473436

## **T1-20. 데이터 병합 Expected Question**

### 고객과 잘 맞는 타입 추천 :)

basic1 데이터 중 'f4'를 기준으로 basic3 데이터 'f4'값을 기준으로 병합하고,
병합한 데이터에서 r2결측치를 제거한다음, 앞에서 부터 20개 데이터를 선택하고 'f2'컬럼 합을 구하시오
- basic1.csv: 고객 데이터
- basic3.csv: 잘 어울리는 관계 데이터 (추천1:r1, 추천2:r2)

In [85]:
import pandas as pd

b1 = pd.read_csv('data/basic1.csv')
b3 = pd.read_csv('data/basic3.csv')
print(b1.head())
print(b3.head())

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869
     f4    r1    r2
0  INFP  ENFJ  ENTJ
1  ENFP  INFJ   NaN
2  INFJ  ENFP  ENTP
3  ENFJ  INFP  ISFP
4  INTJ  ENFP  ENTP

In [86]:
# 데이터 결합
df = pd.merge(left = b1, right = b3, how = 'left', on = 'f4')
df.head()

     id   age city    f1  f2   f3    f4         f5    r1    r2
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791  INFP  ISFP
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826  INFP  ISFP
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986  ESFP   NaN
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078  ENFJ  ENTJ
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869  ESFP  ESTP

In [87]:
# r2 결측치 제거
df = df.dropna(subset=['r2'])
df.head()

     id   age city    f1  f2   f3    f4         f5    r1    r2
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791  INFP  ISFP
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826  INFP  ISFP
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078  ENFJ  ENTJ
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869  ESFP  ESTP
5  id06  22.0   서울  57.0   0  vip  INTP  20.129444  ENTJ  ESTJ

In [92]:
# 앞에서부터 20개 f2 합
print(df[:20]['f2'].sum())

15