## **T1-9. 수치형 변수 표준화 Expected Questions**

### 수치형 변수 변환하기
주어진 데이터에서 'f5'컬럼을 표준화(Standardization (Z-score Normalization))하고 그 중앙값을 구하시오
- 데이터셋 : basic1.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

Standardization (Z-score Normalization)

<center><img src="pic/T1-9.png"></center>

In [1]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
from sklearn.preprocessing import StandardScaler
# help(sklearn.preprocessing.StandardScaler)

df = pd.read_csv('data/basic1.csv')
df

       id    age city    f1  f2   f3    f4         f5
0    id01    2.0   서울   NaN   0  NaN  ENFJ  91.297791
1    id02    9.0   서울  70.0   1  NaN  ENFJ  60.339826
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869
..    ...    ...  ...   ...  ..  ...   ...        ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

[100 rows x 8 columns]

In [2]:
# 표준화
scaler = StandardScaler()
df['f5'] = scaler.fit_transform(df[['f5']])
df

       id    age city    f1  f2   f3    f4        f5
0    id01    2.0   서울   NaN   0  NaN  ENFJ  1.220815
1    id02    9.0   서울  70.0   1  NaN  ENFJ  0.127343
2    id03   27.0   서울  61.0   1  NaN  ISTJ -1.394535
3    id04   75.0   서울   NaN   2  NaN  INFP -0.143667
4    id05   24.0   서울  85.0   2  NaN  ISFJ -0.970085
..    ...    ...  ...   ...  ..  ...   ...       ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ -0.143667
96   id97  100.0   경기   NaN   0  NaN  INFP  0.393896
97   id98   39.0   경기  58.0   2  NaN  INFP  1.472730
98   id99    1.0   경기  47.0   0  NaN  ESFJ  1.435683
99  id100   47.0   경기  53.0   0  vip  ESFP -0.827418

[100 rows x 8 columns]

In [3]:
# 중앙값 출력
print(df['f5'].median())

0.260619629559015

## **T1-10. 여-존슨과 박스-칵스 변환 Expected Questions**

### 수치형 변수 변환하기
주어진 데이터에서 20세 이상인 데이터를 추출하고 'f1'컬럼을 결측치를 최빈값으로 채운 후,
f1 컬럼의 여-존슨과 박스콕스 변환 값을 구하고,
두 값의 차이를 절대값으로 구한다음 모두 더해 소수점 둘째 자리까지 출력(반올림)하시오
- 데이터셋 : basic1.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

<center><img src="pic/T1-10.png"></center>

In [4]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
from sklearn.preprocessing import power_transform

df = pd.read_csv('data/basic1.csv')
df

       id    age city    f1  f2   f3    f4         f5
0    id01    2.0   서울   NaN   0  NaN  ENFJ  91.297791
1    id02    9.0   서울  70.0   1  NaN  ENFJ  60.339826
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869
..    ...    ...  ...   ...  ..  ...   ...        ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

[100 rows x 8 columns]

In [5]:
# 조건에 맞는 데이터
df = df[df['age']>=20]
df

       id    age city    f1  f2   f3    f4         f5
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869
5    id06   22.0   서울  57.0   0  vip  INTP  20.129444
6    id07   36.3   서울  60.0   1  NaN  ISFJ   9.796378
..    ...    ...  ...   ...  ..  ...   ...        ...
94   id95   77.0   경기  43.0   1  NaN  INTJ  91.297791
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

[83 rows x 8 columns]

In [6]:
# 최빈값으로 'f1' 컬럼 결측치 대체
df['f1'] = df['f1'].fillna(df['f1'].mode()[0])
df

C:\Users\ganghyun\AppData\Local\Temp/ipykernel_18340/59863712.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['f1'] = df['f1'].fillna(df['f1'].mode()[0])

       id    age city    f1  f2   f3    f4         f5
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986
3    id04   75.0   서울  50.0   2  NaN  INFP  52.667078
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869
5    id06   22.0   서울  57.0   0  vip  INTP  20.129444
6    id07   36.3   서울  60.0   1  NaN  ISFJ   9.796378
..    ...    ...  ...   ...  ..  ...   ...        ...
94   id95   77.0   경기  43.0   1  NaN  INTJ  91.297791
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기  50.0   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

[83 rows x 8 columns]

In [7]:
# 'f1'데이터 여-존슨 yeo-johnson 값 구하기
df['y'] = power_transform(df[['f1']],method='yeo-johnson', standardize=False)
df['y']

C:\Users\ganghyun\AppData\Local\Temp/ipykernel_18340/2913971554.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['y'] = power_transform(df[['f1']],method='yeo-johnson', standardize=False)

2     20.583423
3     17.968081
4     25.773745
5     19.653167
6     20.352915
        ...
94    16.198225
95    18.699749
96    17.968081
97    19.887818
99    18.699749
Name: y, Length: 83, dtype: float64

In [8]:
# 'f1'데이터 박스-콕스 box-cox 값 구하기
df['b'] = power_transform(df[['f1']], method='box-cox', standardize=False)
df['b']

C:\Users\ganghyun\AppData\Local\Temp/ipykernel_18340/2869214079.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['b'] = power_transform(df[['f1']], method='box-cox', standardize=False)

2     21.067090
3     18.305263
4     26.557680
5     20.084373
6     20.823545
        ...
94    16.437954
95    19.077601
96    18.305263
97    20.332219
99    19.077601
Name: b, Length: 83, dtype: float64

In [9]:
# 두 값의 차이를 절대값으로 구한다음 모두 더해 소수점 둘째 자리까지 출력(반올림)
print(round(sum(abs(df['y'] - df['b'])), 2))

39.17

## **T1-11. min-max 기준 상하위 5%값 Expected Questions**

### min-max스케일링 기준 상하위 5% 구하기

주어진 데이터에서 'f5'컬럼을 min-max 스케일 변환한 후, 상위 5%와 하위 5% 값의 합을 구하시오
- 데이터셋 : basic1.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작
- File -> Editor Type -> Script

In [10]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

df = pd.read_csv('data/basic1.csv')

In [11]:
# EDA (결측치 확인)
print(df.isnull().sum())

id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
dtype: int64

In [12]:
# min-max scale 방법1
scaler = MinMaxScaler()
df['f5_1'] = scaler.fit_transform(df[['f5']])
df.head()

     id   age city    f1  f2   f3    f4         f5      f5_1
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791  0.919533
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826  0.570252
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986  0.084129
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078  0.483685
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869  0.219708

In [13]:
# min-max scale 방법2
df['f5_2'] = df['f5'].transform(lambda x: ((x - x.min()) / (x.max() - x.min())))
df.head()

     id   age city    f1  f2   f3    f4         f5      f5_1      f5_2
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791  0.919533  0.919533
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826  0.570252  0.570252
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986  0.084129  0.084129
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078  0.483685  0.483685
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869  0.219708  0.219708

In [14]:
# 하위 5%, 상위 5% 값 구하기
lower = df['f5_1'].quantile(0.05)
upper = df['f5_1'].quantile(0.95)
print(lower, upper)
print(lower+upper)

0.03670782406038746 0.9881662742993513
1.0248740983597389

## **T1-12. 상위 10개, 하위 10개 차이  Expected Questions**

### 주어진 데이터에서 상위 10개 국가의 접종률 평균과 하위 10개 국가의 접종률 평균을 구하고, 그 차이를 구해보세요
(단, 100%가 넘는 접종률 제거, 소수 첫째자리까지 출력)
- 데이터셋 : ../input/covid-vaccination-vs-death/covid_vaccination_vs_death_ratio.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작
- File -> Editor Type -> Script

In [15]:
import pandas as pd

# load data
df = pd.read_csv('data/covid-vaccination-vs-death_ratio.csv')
# print(df.head())

# sort by ratio
df2 = df.groupby('country').max()
df2 = df2.sort_values(by='ratio', ascending=False)
# print(df2['ratio'].head())

# 이상치 제거 (접종률 100% 이상)
df2 = df2[1:]
# print(df2['ratio'].head())

# 하위 10개, 상위 10개국 평균 접종률
bottom = df2['ratio'].head(10).mean()
top = df2['ratio'].tail(10).mean()

# 차이 출력
print(round(bottom - top, 1))

88.4