## **T2-3. Adult Census Income Tutorial**

성인 인구조사 소득 예측
- age: 나이
- workclass: 고용 형태
- fnlwgt: 사람의 대표성을 나타내는 가중치(final weight)
- education: 교육 수준
- education.num: 교육 수준 수치
- marital.status: 결혼 상태
- occupation: 업종
- relationship: 가족 관계
- race: 인종
- sex: 성별
- capital.gain: 양도 소득
- capital.loss: 양도 손실
- hours.per.week: 주당 근무 시간
- native.country: 국적
- income: 수익 (예측해야 하는 값)

In [77]:
# 시험환경 세팅 (코드 변경 X)
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

def exam_data_load(df, target, id_name="", null_name=""):
    if id_name == "":
        df = df.reset_index().rename(columns={"index": "id"})
        id_name = 'id'
    else:
        id_name = id_name

    if null_name != "":
        df[df == null_name] = np.nan

    X_train, X_test = train_test_split(df, test_size=0.2, random_state=2021)

    y_train = X_train[[id_name, target]]
    X_train = X_train.drop(columns=[target])


    y_test = X_test[[id_name, target]]
    X_test = X_test.drop(columns=[target])
    return X_train, X_test, y_train, y_test

df = pd.read_csv('data/adult.csv')
X_train, X_test, y_train, y_test = exam_data_load(df, target='income', null_name='?')

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((26048, 15), (6513, 15), (26048, 2), (6513, 2))

In [78]:
# EDA

print(X_train)
print('----------------------------------------------------------')
# print(X_test)
# print('----------------------------------------------------------')
print(y_train)

print('----------------------------------------------------------')
print(X_train.isna().sum())
print('----------------------------------------------------------')
print(X_test.isna().sum())

          id  age         workclass  fnlwgt     education  education.num  \
21851  21851   36           Private  241998     Bachelors             13
7632    7632   53           Private  103950       Masters             14
27878  27878   19           Private  203061  Some-college             10
14121  14121   20           Private  102607       HS-grad              9
32345  32345   54         State-gov  138852       HS-grad              9
...      ...  ...               ...     ...           ...            ...
2669    2669   45           Private  187370       Masters             14
17536  17536   36           Private  174308          11th              7
6201    6201   47           Private  275361    Assoc-acdm             12
27989  27989   50  Self-emp-not-inc  196504     Doctorate             16
25716  25716   19           Private  410543       HS-grad              9

           marital.status         occupation   relationship   race     sex  \
21851  Married-civ-spouse       Craft-repair        Husband  White    Male
7632             Divorced     Prof-specialty  Not-in-family  White  Female
27878       Never-married       Tech-support  Not-in-family  White  Female
14121       Never-married  Handlers-cleaners      Own-child  White    Male
32345  Married-civ-spouse     Prof-specialty        Husband  White    Male
...                   ...                ...            ...    ...     ...
2669             Divorced    Exec-managerial      Unmarried  White    Male
17536            Divorced   Transport-moving  Not-in-family  White    Male
6201              Widowed      Other-service      Own-child  White  Female
27989  Married-civ-spouse     Prof-specialty        Husband  White    Male
25716       Never-married       Adm-clerical  Not-in-family  White  Female

       capital.gain  capital.loss  hours.per.week native.country
21851             0             0              50  United-States
7632              0             0              40  United-States
27878             0             0              25  United-States
14121             0             0              30  United-States
32345             0             0              40  United-States
...             ...           ...             ...            ...
2669           7430             0              70  United-States
17536             0             0              40  United-States
6201              0             0              35  United-States
27989             0             0              23  United-States
25716             0             0              40  United-States

[26048 rows x 15 columns]
----------------------------------------------------------
          id income
21851  21851   >50K
7632    7632  <=50K
27878  27878  <=50K
14121  14121  <=50K
32345  32345  <=50K
...      ...    ...
2669    2669   >50K
17536  17536  <=50K
6201    6201  <=50K
27989  27989  <=50K
25716  25716  <=50K

[26048 rows x 2 columns]
----------------------------------------------------------
id                   0
age                  0
workclass         1456
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1463
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
native.country     461
dtype: int64
----------------------------------------------------------
id                  0
age                 0
workclass         380
fnlwgt              0
education           0
education.num       0
marital.status      0
occupation        380
relationship        0
race                0
sex                 0
capital.gain        0
capital.loss        0
hours.per.week      0
native.country    122
dtype: int64

In [79]:
# feature 구분
numeric_features = ['age', 'fnlwgt', 'education.num', 'capital.gain','capital.loss', 'hours.per.week']
cat_features = ['workclass', 'education', 'marital.status', 'occupation', 'relationship', 'race', 'sex', 'native.country']

In [80]:
# 결측치는 최빈값과 차이가 크면 최빈값으로, 값이 비슷하면 별도의 값으로 대체

X_train['workclass'] = X_train['workclass'].fillna(X_train['workclass'].mode()[0])
X_train['occupation'] = X_train['occupation'].fillna('null')
X_train['native.country'] = X_train['native.country'].fillna(X_train['native.country'].mode()[0])

X_test['workclass'] = X_test['workclass'].fillna(X_test['workclass'].mode()[0])
X_test['occupation'] = X_test['occupation'].fillna('null')
X_test['native.country'] = X_test['native.country'].fillna(X_test['native.country'].mode()[0])

print(X_train.isnull().sum())
print('----------------------------------------------------------')
print(X_test.isnull().sum())

id                0
age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
dtype: int64
----------------------------------------------------------
id                0
age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
dtype: int64

In [81]:
# 라벨인코딩
from sklearn.preprocessing import LabelEncoder

all_df = pd.concat([X_train.assign(ind='train'), X_test.assign(ind='test')])
le = LabelEncoder()
all_df[cat_features] = all_df[cat_features].apply(le.fit_transform)

X_train = all_df[all_df['ind'] == 'train']
X_train = X_train.drop('ind', axis=1)

X_test = all_df[all_df['ind'] == 'test']
X_test = X_test.drop('ind', axis=1)

print(X_train)

          id  age  workclass  fnlwgt  education  education.num  \
21851  21851   36          3  241998          9             13
7632    7632   53          3  103950         12             14
27878  27878   19          3  203061         15             10
14121  14121   20          3  102607         11              9
32345  32345   54          6  138852         11              9
...      ...  ...        ...     ...        ...            ...
2669    2669   45          3  187370         12             14
17536  17536   36          3  174308          1              7
6201    6201   47          3  275361          7             12
27989  27989   50          5  196504         10             16
25716  25716   19          3  410543         11              9

       marital.status  occupation  relationship  race  sex  capital.gain  \
21851               2           2             0     4    1             0
7632                0           9             1     4    0             0
27878               4          12             1     4    0             0
14121               4           5             3     4    1             0
32345               2           9             0     4    1             0
...               ...         ...           ...   ...  ...           ...
2669                0           3             4     4    1          7430
17536               0          13             1     4    1             0
6201                6           7             3     4    0             0
27989               2           9             0     4    1             0
25716               4           0             1     4    0             0

       capital.loss  hours.per.week  native.country
21851             0              50              38
7632              0              40              38
27878             0              25              38
14121             0              30              38
32345             0              40              38
...             ...             ...             ...
2669              0              70              38
17536             0              40              38
6201              0              35              38
27989             0              23              38
25716             0              40              38

[26048 rows x 15 columns]

In [82]:
# 스케일링
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_train[numeric_features] = scaler.fit_transform(X_train[numeric_features])
X_test[numeric_features] = scaler.fit_transform(X_test[numeric_features])

print(X_train)

          id       age  workclass    fnlwgt  education  education.num  \
21851  21851  0.260274          3  0.156011          9       0.800000
7632    7632  0.493151          3  0.062255         12       0.866667
27878  27878  0.027397          3  0.129566         15       0.600000
14121  14121  0.041096          3  0.061343         11       0.533333
32345  32345  0.506849          6  0.085958         11       0.533333
...      ...       ...        ...       ...        ...            ...
2669    2669  0.383562          3  0.118910         12       0.866667
17536  17536  0.260274          3  0.110039          1       0.400000
6201    6201  0.410959          3  0.178669          7       0.733333
27989  27989  0.452055          5  0.125113         10       1.000000
25716  25716  0.027397          3  0.270479         11       0.533333

       marital.status  occupation  relationship  race  sex  capital.gain  \
21851               2           2             0     4    1      0.000000
7632                0           9             1     4    0      0.000000
27878               4          12             1     4    0      0.000000
14121               4           5             3     4    1      0.000000
32345               2           9             0     4    1      0.000000
...               ...         ...           ...   ...  ...           ...
2669                0           3             4     4    1      0.074301
17536               0          13             1     4    1      0.000000
6201                6           7             3     4    0      0.000000
27989               2           9             0     4    1      0.000000
25716               4           0             1     4    0      0.000000

       capital.loss  hours.per.week  native.country
21851           0.0        0.500000              38
7632            0.0        0.397959              38
27878           0.0        0.244898              38
14121           0.0        0.295918              38
32345           0.0        0.397959              38
...             ...             ...             ...
2669            0.0        0.704082              38
17536           0.0        0.397959              38
6201            0.0        0.346939              38
27989           0.0        0.224490              38
25716           0.0        0.397959              38

[26048 rows x 15 columns]

In [83]:
# target 값 변경
y = (y_train['income'] != '<=50K').astype(int)
print(y.head())

21851    1
7632     0
27878    0
14121    0
32345    0
Name: income, dtype: int32

In [84]:
# 검증용 데이터 분리
from sklearn.model_selection import train_test_split

X_tr, X_val, y_tr, y_val = train_test_split(X_train, y, test_size=0.15, random_state=2021)
print(X_tr.shape, X_val.shape, y_tr.shape, y_val.shape)

(22140, 15) (3908, 15) (22140,) (3908,)

In [85]:
# id 삭제
X_tr = X_tr.drop('id', axis=1)
X_val = X_val.drop('id', axis=1)
print(X_tr.head())

            age  workclass    fnlwgt  education  education.num  \
1437   0.191781          3  0.216501          9       0.800000
7151   0.287671          5  0.127591         11       0.533333
30296  0.424658          3  0.217452          9       0.800000
15372  0.452055          3  0.142442         11       0.533333
13800  0.178082          3  0.187243         15       0.600000

       marital.status  occupation  relationship  race  sex  capital.gain  \
1437                4           3             1     4    0           0.0
7151                2           2             0     4    1           0.0
30296               2           9             0     4    1           0.0
15372               2           2             0     4    1           0.0
13800               4           5             1     4    1           0.0

       capital.loss  hours.per.week  native.country
1437       0.323232        0.397959              38
7151       0.000000        0.602041              38
30296      0.000000        0.346939              38
15372      0.000000        0.397959              38
13800      0.000000        0.397959              38

In [86]:
# 랜덤포레스트
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

model = RandomForestClassifier(random_state=10)
model.fit(X_tr, y_tr)
pred = model.predict(X_val)
print(accuracy_score(y_val, pred))

0.851842374616172

In [87]:
# test 데이터 예측
X_test_id = X_test.pop('id')
pred = model.predict(X_test)

In [88]:
# csv 생성
output = pd.DataFrame({'id' : X_test_id, 'income' : pred})
output.to_csv('csv/T2-3.csv', index=False)
print(output.head())

          id  income
20901  20901       1
14170  14170       0
1776    1776       1
30428  30428       0
8602    8602       0