<a href="https://colab.research.google.com/github/ganghyunnnn/bigdata_test/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0%EC%9C%A0%ED%98%951.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **1. 작업형1 예시문제 (dataq 공식 예제)**
- 자동차 데이터 셋에서 qsec 컬럼을 Min-Max Scale로 변환 후 0.5보다 큰 값을 가지는 레코드(row) 수를 구하시오
- data = mtcars.csv

In [ ]:
import pandas as pd

file = '/content/drive/MyDrive/빅분기/mtcars.csv'
df = pd.read_csv(file)

# print(df.head())

from sklearn.preprocessing import minmax_scale
df['qsec'] = minmax_scale(df['qsec'])

# print(df.head())

print(len(df[df['qsec']>0.5]))

9

### **2. 이상치를 찾아라(IQR활용)**
- 데이터에서 IQR을 활용해 Fare 칼럼의 이상치를 찾고, 이상치 데이터의 여성 수를 구하시오
- data = titanic.csv

In [ ]:
import pandas

df = pd.read_csv('/content/drive/MyDrive/빅분기/titanic.csv')
# print(df.head())

import numpy as np
Q1 = np.percentile(df['Fare'], 25)
Q3 = np.percentile(df['Fare'], 75)
IQR = Q3 - Q1
# print(Q1, Q3, IQR)

outlier1 = Q1 - 1.5 * IQR
outlier2 = Q3 + 1.5 * IQR
# print(outlier1, outlier2)

df1 = df[(df['Fare'] < outlier1) | (df['Fare'] > outlier2)]
# print(df1.head())

print(len(df1[df1['Sex']=='female']))

70

### **3. 이상치를 찾아라(소수점 나이)**
- 주어진 데이터에서 이상치(소수점 나이)를 찾고 올림, 내림, 버림했을때 세 가지 경우의 이상치 'age' 평균을 구한 다음 모두 더하여 출력하시오
- data =  basic1.csv

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/basic1.csv')
# print(df.head())
# print('------------------------------------------------------------')

import numpy as np
df = df[(df['age'] - np.floor(df['age']) != 0)]
# print(df)

# ceil, floor, trunc
ceil = np.ceil(df['age']).mean()
floor = np.floor(df['age']).mean()
trunc = np.trunc(df['age']).mean()

print(ceil+floor+trunc)

69.5

### **4. 결측치 처리(map 활용)**
- 주어진 데이터에서 결측치가 80% 이상 되는 칼럼은(변수는) 삭제하고, 80% 미만인 결측치가 있는 칼럼은 'city'별 중앙값으로 값을 대체하고 'f1'칼럼의 평균값을 출력하시오
- data = basic1.csv

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/basic1.csv')
# print(df.head())
# print('---------------------------------------------------------------')

# print(df.isna().sum() / df.shape[0])

df = df.drop(['f3'], axis=1)
# print(df.head())
# print('---------------------------------------------------------------')

# print(df['city'].values)
s = df[df['city']=='서울']['f1'].median()
p = df[df['city']=='부산']['f1'].median()
d = df[df['city']=='대구']['f1'].median()
k = df[df['city']=='경기']['f1'].median()

# print(s,p,d,k)

df['f1'] = df['f1'].fillna(df['city'].map({'서울':s, '부산':p, '대구':d, '경기':k}))
print(df['f1'].mean())

65.52

### **5. 왜도와 첨도 구하기 (로그스케일)**
- 주어진 데이터 중 'SalePrice' 칼럼의 왜도와 첨도를 구한 값과, 'SalePrice'칼럼을 스케일링(log1p)로 변환한 이후 왜도와 첨도를 구해 모두 더한 다음 소수점 둘째자리까지 출력하시오
- data = T1-4.csv

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/T1-4.csv')
# print(df.head())
# print('----------------------------------------------------------------------------------------')

# skew(), kurt()

s1 = df['SalePrice'].skew()
k1 = df['SalePrice'].kurt()
# print(s1, k1)

import numpy as np

df['SalePrice'] = np.log1p(df['SalePrice'])
# print(df.head())

s2 = df['SalePrice'].skew()
k2 = df['SalePrice'].kurt()

print(round((s1+s2+k1+k2), 2))

9.35

### **6. 결측치 제거 및 그룹 합계**
- 주어진 데이터 중 'f1'칼럼 결측 데이터를 제거하고, 'city'와 'f2'를 기준으로 묶어 합계를 구하고, 'city'가 경기이면서 'f2'가 0인 조건에 만족하는 f1 값을 구하시오
- data = basic1.csv

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/basic1.csv')
# print(df.head())
# print('-------------------------------------------------------------------------')

df = df.dropna(subset=['f1'])
# print(df.head())
# print('-------------------------------------------------------------------------')

df2 = df.groupby(['city', 'f2']).sum()
# print(df2.head())

print(df2['f1'][0])

833.0

### **7. 값 변경 및 2개 이상의 조건**
- 'f4' 칼럼의 값이 'ESFJ'인 데이터를 'ISFJ'로 대체하고, 'city'가 '경기' 이면서 'f4'가 'ISFJ'인 데이터 중 'age'칼럼의 최대값을 출력하시오
- data = basic1.csv

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/basic1.csv')
# print(df.head())
# print('-------------------------------------------------------------------------------')

df['f4'] = df['f4'].replace('ESFJ', 'ISFJ')
# print(df['f4'].unique())

df = df[(df['city']=='경기') & (df['f4']=='ISFJ')]
print(df['age'].max())

90.0

### **8. 누적합 그리고 보간(결측치 처리)**
- 주어진 데이터 중 'f2'칼럼이 1인 조건에 해당하는 데이터의 'f1'칼럼 누적합을 계산한다. 이때 발생하는 누적합 결측치는 바로 뒤의 값을 채우고, 누적합의 평균값을 출력하시오 (단, 결측치 바로 뒤의 값이 없으면 다음에 나오는 값을 채워넣는다)
- data = basic1.csv

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/basic1.csv')
# print(df.head())
# print('-----------------------------------------------------------------------------------')

cumsum = df[df['f2']==1]['f1'].cumsum()
cumsum = cumsum.fillna(method='bfill')
# print(cumsum.head())

print(cumsum.mean())

980.3783783783783

### **9. 수치형 변수 표준화**
- 주어진 데이터에서 'f5'칼럼을 표준화(Standardization (Z-score Normalization))하고 그 중앙값을 구하시오
- data = basic1.csv

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/basic1.csv')
# print(df.head())
# print('-----------------------------------------------------------------------------------')

from sklearn.preprocessing import StandardScaler
# help(sklearn.preprocessing.StandardScaler)
scaler = StandardScaler()
df['f5'] = scaler.fit_transform(df[['f5']])
print(df['f5'].median())

0.260619629559015

### **10. 여-존슨과 박스-칵스 변환**
- 주어진 데이터에서 20세 이상인 데이터를 추출하고 'f1'칼럼의 결측치를 최빈값으로 채운 후, 'f1'칼럼의 여-존슨과 박스-콕스 변환값을 구하고, 두 값의 차이를 절대값으로 구한 다음 모두 더해 소수점 둘째자리까지 출력(반올림)하시오
- data = basic1.csv

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/basic1.csv')
# print(df.head())
# print('-----------------------------------------------------------------------------------')

df = df[df['age']>=20]
df['f1'] = df['f1'].fillna(df['f1'].mode()[0])
# print(df['f1'].mode()[0])
# print(df.head())

from sklearn.preprocessing import power_transform
# print(help(sklearn.preprocessing.power_transfrom))

df['yeo'] = power_transform(df[['f1']], method = 'yeo-johnson', standardize=False)
df['box'] = power_transform(df[['f1']], method = 'box-cox', standardize=False)
# print(yeo[0:5])
# print(box[0:5])

print(round(sum(abs(df['yeo']-df['box'])),2))

39.17

### **11. min-max 기준 상하위 5%값**
- 주어진 데이터에서 'f5'칼럼을 min-max 스케일 변환한 후, 상위 5%와 하위 5% 값의 합을 출력하시오
- data = basic1.csv

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/basic1.csv')
# print(df.head())
# print('------------------------------------------------------------------')

from sklearn.preprocessing import minmax_scale
# print(help(minmax_scale))

df['f5'] = minmax_scale(df['f5'])
# print(df.head())
# print('------------------------------------------------------------------')

sort = df['f5'].sort_values(ascending=False)
# print(sort)

import numpy as np

print((np.percentile(df['f5'], 5)) + (np.percentile(df['f5'], 95)))

1.0248740983597389

### **12. 상위 10개, 하위 10개 차이**
- 주어진 데이터에서 상위 10개 국가의 접종률 평균과 하위 10개 국가의 접종률 평균을 구하고, 그 차이를 출력하시오 (단, 100%가 넘는 접종률 제거, 소수 첫째자리까지 출력)
- data = covid-vaccination-vs-death_ratio.csv

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/covid-vaccination-vs-death_ratio.csv')
# print(df.head())
# print('-------------------------------------------------------------------------------')

# print(df.isna().sum())
df2 = df.groupby('country').max()
# print(df2.head())

df2 = df2.sort_values(by='ratio', ascending=False)
# print(df2.head())
# print('-------------------------------------------------------------------------------')

### 조건을 만족하는 index를 구해서 drop
idx = df2[df2['ratio'] > 100].index
# print(idx)
df2.drop(idx, inplace=True)
# print(df2.head())

a = df2['ratio'].head(10).mean()
b = df2['ratio'].tail(10).mean()
# print(a, b)
print(round(a - b, 1))

88.4

### **13. 상관관계 구하기**
- 주어진 데이터에서 상관관계를 구하고, quality와의 상관관계가 가장 큰 값과, 가장 작은 값을 구한 다음 더한 값을 출력하시오 (단, quality와 quality 상관관계 제외, 소수점 둘째자리까지 출력)
- data = winequality-red.csv

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/winequality-red.csv')
# print(df.head())
# print('-----------------------------------------------------------------------------')

df_corr = df.corr()
df_corr = df_corr[:-1]
# print(df_corr)
# print('-----------------------------------------------------------------------------')

qual_corr = df_corr['quality']
# print(qual_corr)

max = qual_corr.max()

### 상관관계는 0에 가까울수록 작은 값임
qual_corr_abs = abs(qual_corr)
# print(qual_corr_abs)
min = qual_corr_abs.min()
idx = qual_corr_abs.loc[qual_corr == min]
# print(idx)

min = qual_corr[4]
# print(min)
# print(max, min)

print(round(max + min, 2))

0.35

### **14. 2개 조건에 따른 상위 값**
- 'city'와 'f4'를 기준으로 f5의 평균값을 구한 다음, f5를 기준으로 상위 7개 값을 모두 더해 출력하시오 (소수 둘째자리까지 출력)
- data = basic1.csv

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/basic1.csv')

df = df.groupby(['city', 'f4'])[['f5']].mean()
# print(df)

df = df.sort_values('f5', ascending=False).head(7)
# print(df)

print(round(df['f5'].sum(), 2))

643.68

### **15. 슬라이싱 & 조건**
- 주어진 데이터 중 'age'칼럼 상위 20개의 데이터를 구한 다음 'f1'의 결측치를 중앙값으로 채운다. 그리고 'f4'가 'ISFJ'와 'f5'가 20 이상인 'f1'의 평균값을 출력하시오
- data = basic1.csv

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/basic1.csv')

df = df.sort_values('age', ascending=False).head(20)
# print(df)
# print('-------------------------------------------------------------------------------')

df = df.fillna(df['f1'].median())
# print(df)

cond = (df['f4'] == 'ISFJ') & (df['f5'] >= 20)

print(df[cond]['f1'].mean())

73.875

### **16. 분산**
- 주어진 데이터 중 'f2'가 0값인 데이터를 'age'를 기준으로 오름차순 정렬하고 앞에서부터 20개의 데이터를 추출한 후 'f1'결측치(최소값)를 채우기 전과 후의 분산 차이를 계산하시오 (소수점 둘째자리까지)
- data = basic1.csv

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/basic1.csv')

df = df[df['f2']==0]
df = df.sort_values('age', ascending=True).head(20)
# print(df)
df2 = df.copy()

df2 = df2.fillna(df2['f1'].min())
# print(df2)

var1 = df['f1'].var()
var2 = df2['f1'].var()
# print(var1, var2)

print(round(var1 - var2, 2))

38.44

### **17. 시계열 데이터 1**
- 2022년 5월 'Sales'의 중앙값을 구하시오
- data = basic2.csv

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/basic2.csv')
# print(df.head())

df['Date'] = pd.to_datetime(df['Date'])
# print(df.head())

df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
# print(df.head())

cond = (df['year'] == 2022) & (df['month'] == 5)
print(df[cond]['Sales'].median())

1477685.0

### **18. 시계열 데이터 2**
- 주어진 데이터에서 2022년 5월 주말과 평일의 'Sales'칼럼 평균값 차이를 구하시오 (소수점 둘째자리까지 출력, 반올림)
- data = basic2.csv

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/basic2.csv')

df['Date'] = pd.to_datetime(df['Date'])

df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['dayofweek'] = df['Date'].dt.dayofweek
# print(df.head())

cond1 = ((df['year'] == 2022) & (df['month'] == 5)) & ((df['dayofweek'] == 5) | (df['dayofweek'] == 6))
cond2 = ((df['year'] == 2022) & (df['month'] == 5)) & ((df['dayofweek'] != 5) & (df['dayofweek'] != 6))

mean1 = df[cond1]['Sales'].mean()
mean2 = df[cond2]['Sales'].mean()
# print(mean1, mean2)

print(round(mean1 - mean2, 2))

3010339.1

### **19. 시계열 데이터 3**
- 주어진 데이터에서 2022년 월별 'Sales' 합계 중 가장 큰 금액과 2023년 월별 'Sales' 합계 중 가장 큰 금액의 차이를 절대값으로 출력하시오 (단, 'Events'칼럼이 1인 경우 80%을 'Sales'값만 반영, 최종값은 소수점 반올림 후 정수 출력)
- data = basic2.csv

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/basic2.csv')

df['Date'] = pd.to_datetime(df['Date'])
# print(df.head())

df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month

for i in range(len(df)):
  if df['Events'][i] == 1:
    df['Sales'][i] = df['Sales'][i] * 0.8
# print(df.head())

cond1 = df['year'] == 2022
df1 = df[cond1]
sales1 = df1.groupby('month')['Sales'].sum().max()
# print(sales1)

cond2 = df['year'] == 2023
df2 = df[cond2]
sales2 = df2.groupby('month')['Sales'].sum().max()
# print(sales2)

print(int(round(abs(sales1 - sales2))))

42473438

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

### **20. 데이터 병합**
- basic1 데이터 중 'f4'를 기준으로 basic3 데이터 'f4' 값을 기준으로 병합하고, 병합한 데이터에서 'r2' 결측치를 제거한 다음, 앞에서부터 20개 데이터를 선택하고 'f2'칼럼의 합을 출력하시오
- data = basic1.csv, basic3.csv (추천1:r1, 추천2:r2)

In [ ]:
import pandas as pd

df1 = pd.read_csv('/content/drive/MyDrive/빅분기/basic1.csv')
df2 = pd.read_csv('/content/drive/MyDrive/빅분기/basic3.csv')

# print(df1.head())
# print('----------------------------------------------------------------------------------')
# print(df2.head())
# print('----------------------------------------------------------------------------------')

df = pd.merge(left=df1, right=df2, how='left', on='f4')
# print(df.head())

df = df.dropna(subset=['r2'])
# print(df.head())

print(df['f2'].head(20).sum())

15

### **21. 나이 구간 나누기**
- 주어진 데이터 중 'age'칼럼 이상치를 제거하고, 동일한 개수로 나이 순으로 세 그룹으로 나눈 뒤 각 그룹의 중앙값을 더하여 출력하시오 (이상치는 음수(0포함), 소수점 값)
- data = basic1.csv

In [19]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/basic1.csv')
# print(df.head(10))

import numpy as np
df = df[df['age'] > 0]
df = df[df['age'] == np.ceil(df['age'])]
# print(df.head(10))

df['range'] = pd.qcut(df['age'], q=3, labels=['group1', 'group2', 'group3'])
# print(df['range'].value_counts())

med1 = df[df['range'] == 'group1']['age'].median()
med2 = df[df['range'] == 'group2']['age'].median()
med3 = df[df['range'] == 'group3']['age'].median()
# print(med1, med2, med3)

print(med1 + med2 + med3)

165.0

22. 시계열 데이터 4
주어진 데이터 중 주 단위 'Sales' 합계를 구하고, 가장 큰 값을 가진 주와 가장 작은 값을 가진 주의 차이를 구하시오 (절대값)
data = basic2.csv

In [27]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/basic2.csv')
# print(df.head())

df['Date'] = pd.to_datetime(df['Date'])
df = df.set_index('Date')

df_w = df.resample('W').sum()
# print(df_w)

print(abs(df_w['Sales'].max() - df_w['Sales'].min()))

91639050

23. 시계열 데이터 5 (시차 데이터 생성)
주어진 데이터에서 새로운 칼럼(1일 이전 시차 칼럼)을 만들고, 'Events'가 1이면서 'Sales'가 1,000,000이하인 조건에 맞는 새로운 칼럼 합을 출력하시오
data = basic2.csv

In [29]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/basic2.csv')

df['previous_PV'] = df['PV'].shift(1)
# print(df.head())

cond = (df['Events']==1) & (df['Sales'] <= 1000000)
print(df[cond]['previous_PV'].sum())

1894876.0

### **24. 모의고사 1**
- 첫번째 데이터부터 순서대로 50:50으로 데이터를 나누고, 앞에서부터 50%의 데이터(이하, A그룹)는 'f1'칼럼을 A그룹 중앙값으로 채우고, 뒤에서부터 50% 데이터(이하, B그룹)는 'f1'칼럼을 B그룹의 최대값으로 채운 후, A그룹과 B그룹의 표준편차 합을 출력하시오 (단, 소수점 첫째자리까지 출력)
- data = basic1.csv

In [39]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/basic1.csv')

# print(len(df))
a = df[:50]
b = df[50:]
# print(len(a), len(b))

a['f1'] = a['f1'].fillna(a['f1'].median())
b['f1'] = b['f1'].fillna(b['f1'].max())

std1 = a['f1'].std()
std2 = b['f1'].std()
print(std1 + std2)

42.0016947694826

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

### **25. 모의고사 2**
- 'f4'칼럼 기준 내림차순 정렬과 'f5'칼럼 기준 오름차순 정렬을 순서대로 다중 조건 정렬하고. 앞에서부터 10개의 데이터 중 'f5'칼럼의 최소값을 찾아 이 최소값으로 앞에서부터 10개의 'f5칼럼 데이터를 변경한 후 'f5'칼럼의 평균값을 출력하시오 (단, 소수점 둘째자리까지 출력)
- data = basic1.csv

In [50]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/basic1.csv')

df = df.sort_values(['f4', 'f5'], ascending=[False, True])
df[:10]['f5'] = df[:10]['f5'].min()

print(round(df['f5'].mean(), 2))

53.63

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### **26. 모의고사 3**
- 'age' 칼럼의 IQR 방식을 이용한 이상치 수와 표준편차*1.5 방식을 이용한 이상치 수 합을 구하시오
- data = basic1.csv

In [63]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/basic1.csv')

import numpy as np
Q1 = np.percentile(df['age'], 25)
Q3 = np.percentile(df['age'], 75)
IQR = Q3 - Q1

mim = Q1 - 1.5 * IQR
max = Q3 + 1.5 * IQR

cond = (df['age'] < min) | (df['age'] > max)
a = len(df[cond])
# print(a)

std = df['age'].std()
mean = df['age'].mean()

min = mean - 1.5 * std
max = mean + 1.5 * std

cond = (df['age'] < min) | (df['age'] > max)
b = len(df[cond])
# print(b)

print(a + b)

23