<a href="https://colab.research.google.com/github/ganghyunnnn/bigdata_test/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0%EC%9C%A0%ED%98%951.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **1. 작업형1 예시문제 (dataq 공식 예제)**
- 자동차 데이터 셋에서 qsec 컬럼을 Min-Max Scale로 변환 후 0.5보다 큰 값을 가지는 레코드(row) 수를 구하시오
- data = mtcars.csv

In [9]:
import pandas as pd

file = '/content/drive/MyDrive/빅분기/mtcars.csv'
df = pd.read_csv(file)

# print(df.head())

from sklearn.preprocessing import minmax_scale
df['qsec'] = minmax_scale(df['qsec'])

# print(df.head())

print(len(df[df['qsec']>0.5]))

9

### **2. 이상치를 찾아라(IQR활용)**
- 데이터에서 IQR을 활용해 Fare 칼럼의 이상치를 찾고, 이상치 데이터의 여성 수를 구하시오
- data = titanic.csv

In [28]:
import pandas

df = pd.read_csv('/content/drive/MyDrive/빅분기/titanic.csv')
# print(df.head())

import numpy as np
Q1 = np.percentile(df['Fare'], 25)
Q3 = np.percentile(df['Fare'], 75)
IQR = Q3 - Q1
# print(Q1, Q3, IQR)

outlier1 = Q1 - 1.5 * IQR
outlier2 = Q3 + 1.5 * IQR
# print(outlier1, outlier2)

df1 = df[(df['Fare'] < outlier1) | (df['Fare'] > outlier2)]
# print(df1.head())

print(len(df1[df1['Sex']=='female']))

70

### **3. 이상치를 찾아라(소수점 나이)**
- 주어진 데이터에서 이상치(소수점 나이)를 찾고 올림, 내림, 버림했을때 세 가지 경우의 이상치 'age' 평균을 구한 다음 모두 더하여 출력하시오
- data =  basic1.csv

In [37]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/basic1.csv')
# print(df.head())
# print('------------------------------------------------------------')

import numpy as np
df = df[(df['age'] - np.floor(df['age']) != 0)]
# print(df)

# ceil, floor, trunc
ceil = np.ceil(df['age']).mean()
floor = np.floor(df['age']).mean()
trunc = np.trunc(df['age']).mean()

print(ceil+floor+trunc)

69.5

### **4. 결측치 처리(map 활용)**
- 주어진 데이터에서 결측치가 80% 이상 되는 칼럼은(변수는) 삭제하고, 80% 미만인 결측치가 있는 칼럼은 'city'별 중앙값으로 값을 대체하고 'f1'칼럼의 평균값을 출력하시오
- data = basic1.csv

In [62]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/basic1.csv')
# print(df.head())
# print('---------------------------------------------------------------')

# print(df.isna().sum() / df.shape[0])

df = df.drop(['f3'], axis=1)
# print(df.head())
# print('---------------------------------------------------------------')

# print(df['city'].values)
s = df[df['city']=='서울']['f1'].median()
p = df[df['city']=='부산']['f1'].median()
d = df[df['city']=='대구']['f1'].median()
k = df[df['city']=='경기']['f1'].median()

# print(s,p,d,k)

df['f1'] = df['f1'].fillna(df['city'].map({'서울':s, '부산':p, '대구':d, '경기':k}))
print(df['f1'].mean())

65.52

### **5. 왜도와 첨도 구하기 (로그스케일)**
- 주어진 데이터 중 'SalePrice' 칼럼의 왜도와 첨도를 구한 값과, 'SalePrice'칼럼을 스케일링(log1p)로 변환한 이후 왜도와 첨도를 구해 모두 더한 다음 소수점 둘째자리까지 출력하시오
- data = T1-4.csv

In [73]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/T1-4.csv')
# print(df.head())
# print('----------------------------------------------------------------------------------------')

# skew(), kurt()

s1 = df['SalePrice'].skew()
k1 = df['SalePrice'].kurt()
# print(s1, k1)

import numpy as np

df['SalePrice'] = np.log1p(df['SalePrice'])
# print(df.head())

s2 = df['SalePrice'].skew()
k2 = df['SalePrice'].kurt()

print(round((s1+s2+k1+k2), 2))

9.35

### **6. 결측치 제거 및 그룹 합계**
- 주어진 데이터 중 'f1'칼럼 결측 데이터를 제거하고, 'city'와 'f2'를 기준으로 묶어 합계를 구하고, 'city'가 경기이면서 'f2'가 0인 조건에 만족하는 f1 값을 구하시오
- data = basic1.csv

In [97]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/basic1.csv')
# print(df.head())
# print('-------------------------------------------------------------------------')

df = df.dropna(subset=['f1'])
# print(df.head())
# print('-------------------------------------------------------------------------')

df2 = df.groupby(['city', 'f2']).sum()
# print(df2.head())

print(df2['f1'][0])

833.0

### **7. 값 변경 및 2개 이상의 조건**
- 'f4' 칼럼의 값이 'ESFJ'인 데이터를 'ISFJ'로 대체하고, 'city'가 '경기' 이면서 'f4'가 'ISFJ'인 데이터 중 'age'칼럼의 최대값을 출력하시오
- data = basic1.csv

In [109]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/basic1.csv')
# print(df.head())
# print('-------------------------------------------------------------------------------')

df['f4'] = df['f4'].replace('ESFJ', 'ISFJ')
# print(df['f4'].unique())

df = df[(df['city']=='경기') & (df['f4']=='ISFJ')]
print(df['age'].max())

90.0

### **8. 누적합 그리고 보간(결측치 처리)**
- 주어진 데이터 중 'f2'칼럼이 1인 조건에 해당하는 데이터의 'f1'칼럼 누적합을 계산한다. 이때 발생하는 누적합 결측치는 바로 뒤의 값을 채우고, 누적합의 평균값을 출력하시오 (단, 결측치 바로 뒤의 값이 없으면 다음에 나오는 값을 채워넣는다)
- data = basic1.csv

In [131]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/basic1.csv')
# print(df.head())
# print('-----------------------------------------------------------------------------------')

cumsum = df[df['f2']==1]['f1'].cumsum()
cumsum = cumsum.fillna(method='bfill')
# print(cumsum.head())

print(cumsum.mean())

980.3783783783783

### **9. 수치형 변수 표준화**
- 주어진 데이터에서 'f5'칼럼을 표준화(Standardization (Z-score Normalization))하고 그 중앙값을 구하시오
- data = basic1.csv

In [152]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/basic1.csv')
# print(df.head())
# print('-----------------------------------------------------------------------------------')

from sklearn.preprocessing import StandardScaler
# help(sklearn.preprocessing.StandardScaler)
scaler = StandardScaler()
df['f5'] = scaler.fit_transform(df[['f5']])
print(df['f5'].median())

0.260619629559015

### **10. 여-존슨과 박스-칵스 변환**
- 주어진 데이터에서 20세 이상인 데이터를 추출하고 'f1'칼럼의 결측치를 최빈값으로 채운 후, 'f1'칼럼의 여-존슨과 박스-콕스 변환값을 구하고, 두 값의 차이를 절대값으로 구한 다음 모두 더해 소수점 둘째자리까지 출력(반올림)하시오
- data = basic1.csv

In [157]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/basic1.csv')
# print(df.head())
# print('-----------------------------------------------------------------------------------')

df = df[df['age']>=20]
df['f1'] = df['f1'].fillna(df['f1'].mode())
df['f1'] = df['f1'].fillna(df['f1'].mode()[0])
print(df.head())

2     61.0
3      NaN
4     85.0
5     57.0
6     60.0
      ...
94    43.0
95    53.0
96     NaN
97    58.0
99    53.0
Name: f1, Length: 83, dtype: float64
     id   age city    f1  f2   f3    f4         f5
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울  50.0   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869
5  id06  22.0   서울  57.0   0  vip  INTP  20.129444
6  id07  36.3   서울  60.0   1  NaN  ISFJ   9.796378